# ASP.NET Core 8 - Build, Test & Publish
# SimpleCoffeeListing API

trigger:
- main

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Release'
  proyecto: 'src/SimpleCoffee.Api/SimpleCoffee.Api.csproj'
  solucion: 'src/SimpleCoffee.sln'
  testProject: 'src/SimpleCoffee.Tests/SimpleCoffee.Tests.csproj'

steps:
- task: UseDotNet@2
  displayName: 'Instalar .NET SDK 8'
  inputs:
    packageType: 'sdk'
    version: '8.0.x'
    includePreviewVersions: false

- script: dotnet --info
  displayName: 'Información de .NET'

- script: dotnet restore $(solucion)
  displayName: 'dotnet restore'

- script: dotnet build --configuration $(buildConfiguration) $(solucion) --no-restore
  displayName: 'dotnet build $(buildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: 'Ejecutar pruebas unitarias'
  inputs:
    command: 'test'
    projects: '$(testProject)'
    arguments: '--configuration $(buildConfiguration) --no-restore --collect:"XPlat Code Coverage" --logger trx'
    publishTestResults: true

- task: PublishCodeCoverageResults@2
  displayName: 'Publicar cobertura de código'
  inputs:
    summaryFileLocation: '$(Agent.TempDirectory)/TestResults/**/coverage.cobertura.xml'
    codecoverageTool: 'cobertura'

- task: DotNetCoreCLI@2
  displayName: 'Publicar aplicación'
  inputs:
    command: 'publish'
    publishWebProjects: false
    projects: '$(proyecto)'
    arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory) --runtime win-x86 --self-contained true'
    zipAfterPublish: false
    modifyOutputPath: false

- task: PublishBuildArtifacts@1
  displayName: 'Publicar artefactos'
  inputs:
    pathToPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: 'drop'
    publishLocation: 'Container'
